Repository Privatix/dapp-openvpn, changes with the owners that .github/CODEOWNERS names for each.
All owners: @furhat, @ababo, @dzeckelev, @drew2a, @ubozov, @kelewind, @velopokatun

.github/CODEOWNERS:

# about codeowners:
# https://help.github.com/articles/about-codeowners/

# notify go-team about changes in go files
*.go            @furhat @ababo @dzeckelev

# notify drew2a about changes in scripts and settings
/.github/       @drew2a
/scripts/       @drew2a
*.md            @drew2a

# notify @urmat about changes in inst and installer
/inst/          @ubozov
/installer/     @ubozov

# notify devops team about changes in *.config.json
*.config.json   @kelewind @velopokatun @ubozov

fix inst configs
  inst/install.agent.config.json
  inst/install.client.config.json
  inst/install.config.json
  inst/installer.agent.config.json
  inst/installer.client.config.json
Owners: @kelewind, @velopokatun, @ubozov

store channel files in data dir
  inst/openvpn/dappvpn.go
  inst/openvpn/path/path.go
Owners: @ubozov

executes powershell scripts
  inst/openvpn/misc.go
  inst/openvpn/openvpn.go
  inst/openvpn/path/path.config.json
  inst/openvpn/path/path.config.schema.json
  inst/openvpn/path/path.go
Owners: @ubozov, @kelewind, @velopokatun

PS scripts for windows installer
  scripts/win/set-ctrlfirewall.ps1
  scripts/win/set-nat.ps1
  scripts/win/set-vpnfirewall.ps1
Owners: @drew2a

Delete set-ctrlfirewall.ps1
  scripts/win/set-ctrlfirewall.ps1
Owners: @drew2a

fix to set openvpn server port
  inst/openvpn/misc.go
Owners: @ubozov

dappvpn service dependencies
  inst/openvpn/dappvpn.go
Owners: @ubozov

add readme.md
  installer/README.md
Owners: @ubozov
